* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  font-size: 16px;
}

#navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: aqua;
  color: darkblue;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
}

#navbar h2 {
  background-color: aqua;
  font-size: 2rem;
  padding-bottom: 20px;
}

#header {
  padding-top: 100px;
  height: 120vh;
  border-style: solid;
  border-radius: 3px;
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: black;
  border-radius: 5px;
}
#header audio {
  margin: 10px 0;
}

#header h1 {
  background-color: rgba(255, 255, 255, 0);
}
#header span {
  color: darkblue;
  background-color: rgba(255, 255, 255, 0);
}
#header p {
  color: darkblue;
  background-color: rgba(255, 255, 255, 0);
}

#header:hover {
  border-color: blue;
  background-color: aqua;
}

#header h1 {
  color: blue;
  font-size: 50px;
}

#header span {
  font-size: 2rem;
}

#header span:hover {
  background-color: yellow;
  border-radius: 10px;
}

section > p {
  font-size: 30px;
}
p:nth-child(2)::before {
  content: "`";
  color: aqua;
}

p:nth-child(2)::after {
  content: "`";
  color: aqua;
}

.card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  padding: 20px;
  border: 5px solid gray;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.card h2,
p {
  color: aqua;
  background-color: rgba(255, 255, 255, 0);
}

.card img {
  margin-top: 5px;
  width: 50px;
  border-radius: 50%;
}
